@charset "utf-8";
@import "../../static/css/mixin";
@import "../../static/css/svg";

.accent-color{accent-color: #abcf83;}
label{cursor:pointer;}
#custom-section{

  > div { + div{margin-top:10px} }


  input[type=checkbox],input[type=radio]{
    display: none;
    &:checked + label{color:#abcf83;}
  }

  .check-type{
    label{
      @include content(before){
        position: relative; display: inline-block;
        margin-right:8px; width:22px; height:22px;
        border:1px solid #bfbfbf; border-radius:3px;
        background:url(../../static/images/ico_check_off.png) no-repeat center/ auto;
        vertical-align:middle;
      }
    }
    input:checked + label:before{
      background:#abcf83 url(../../static/images/ico_check_on.png) no-repeat center/ auto; border:1px solid #abcf83;
    }
  }

  .radio-type{
    display: inline-block;
    label{
      @include content(before){
        position: relative; display: inline-block;
        margin-right:8px; width:16px; height: 16px;
        border: 1px solid #e1e4e6; border-radius: 50%;
        vertical-align:middle; box-sizing:border-box;
      }
    }
    input:checked + label:before{border:4px solid #abcf83;}

    + .radio-type{
      margin-left: 10px;
    }
  }
}


.file-type {
  position:relative;
  label {
    display:inline-block; padding:10px 20px;
    background:#111; border-radius: 10px; color:#fff; font-size: 18px;
    @include content(after) {
      position:static; display: inline-block;
      width:17px; height:16px; margin-left:6px;
      background: ico_file() no-repeat 50% 50%;
    }
  }
  input[type=file] {
    display: none;
    /*position: absolute; left:0; top:0;
    width:0; height:0; opacity: 0;*/
  }
}

.file-typeB{
  display: flex; align-self: center;
  input[type=file] {display:none; position:absolute; left:0; top:0; width:0; height:0; opacity: 0;filter:alpha(opacity=0); cursor:pointer;background:none;}
  label{
    display: inline-block; width: 30px; height: 30px; font-size: 0;
    background:ico_file('111') no-repeat center/ 20px auto; cursor: pointer;overflow: hidden;
  }
}